
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.danger-icon {
  color: #dd3124;
  cursor: pointer;
}

.info-icon {
  color: #3097d1;
  cursor: pointer;
  padding-right: 0.5rem;
}

.is-centered {
  display: flex;

  align-items: center;
  align-content: center;
  justify-content: center;
}

.footer {
  margin-bottom: -20px;
}